body{
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-size: 14px;
	background-color: #000;
}
header{
	color: transparent;
}

#sec-home{
	background-image: url(../img/home-header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 0;
}

#sec-coaches{
	background-color: white;
}

#Titulinos{
text-decoration-color: #FF8E00;
}

#imageneee{
height: 200;
	width: 200¨:
	
}